.accompagnateur-header
  .container
    %h1.page-title= dossier.procedure.libelle

    - if !dossier.brouillon?
      %ul.tabs
        %li{ class: current_page?(dossier_path(dossier)) ? 'active' : nil }
          = link_to "Données d'identité", dossier_path(dossier)
        %li{ class: current_page?(modifier_dossier_path(dossier)) ? 'active' : nil }
          = link_to "Formulaire", modifier_dossier_path(dossier)
        %li
          = link_to "Messagerie", dossier_path(dossier)
        %li
          = link_to "Décision", dossier_path(dossier)
